
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head.ejs')%>
</head>
<body>
    <%- include('templates/banner.ejs')%>
    
    <div class="container-wrapper">
        <div class="posts">
            <% for(let article of articles){ %>
                <article class="post">
                    <div class="post__header">
                        <div><%= article.title %></div>
                        <% if(id === 1){ %>
                        <div class="post__actions">
                            <a class="post__action" href="/delete-article/<%= article.id %>">刪除</a>
                            <a class="post__action" href="/update-article/<%= article.id %>">編輯</a>
                        </div>
                        <% } %>
                    </div>
                </article>
            <% } %>
        </div>
    </div>
    
</body>
</html>
